navbar {
    width: 100%;
}

navbar ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

navbar ul li {
    display: inline;
}

.class-selector-checkbox-div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;
}

.class-selector-checkbox:checked ~ .class-selector-checkbox-div {
    background-color: yellow;
}